.toggle.btn {
    min-width: 10rem;
    min-height: 2.5rem;
}

#mytable tbody tr:hover{
    background-color: rgba(97, 95, 95, 0.664);
    color: white;
}

#mytable .selected{
    background-color:  rgba(97, 95, 95, 0.877);
    color: white;
}
.bg-gradient-primary{
    background:   rgba(97, 95, 95, 0.877);
   
}
.sidebar-brand-text{
    color: rgb(245, 164, 13);
}
.text-nav {
    color: rgb(245, 164, 13);
}
.btn-primary:hover{
    background-color: rgb(236, 155, 4);
    border-color: rgb(223, 150, 14);
    color:white;
}
.btn-primary{
    background-color: rgb(245, 164, 13);
    border-color: rgb(223, 150, 14);
    color:  white;
}
.btn-edit{
    background-color: #4e73df;
border-color: #4e73df;
}
.page-item.active .page-link{
    background-color: rgb(245, 164, 13);
    border-color: rgb(223, 150, 14);
}
.page-item.active .page-link:hover{
    background-color: rgb(236, 155, 4);
    border-color: rgb(223, 150, 14);
}
.btn-warning{
    background-color:  rgba(97, 95, 95, 0.877);
    border-color: rgba(97, 95, 95, 0.877);
}
.btn-warning:hover{
    background-color:  rgb(97, 95, 95);
    border-color: rgba(97, 95, 95, 0.877);
}
table.dataTable thead .sorting_asc:before {

    /* content: ""; */
}
table.dataTable thead .sorting_asc:after {
    /* content: ""; */
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
   
}
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
.wrapper {

}

div.dataTables_wrapper div.dataTables_filter input {
    width: 430px;
    height: 33px;
    border-radius: 10px;
}
div.table-responsive>div.dataTables_wrapper>div.row:first-child>div[class^="col-"]:first-child {
    max-width: 33.33333%;
}
.image_save {
    width: 70px;
    height: 70px;
}
.selectcategory {
    width: 180px;
    border-radius: 4px;
    border-color: #ccc;
    margin: 5px 15px 16px 15px;
    background-color: #e5e5e6;
}
.item__select-categogy {
    background-color: #eeebeb;
}
@media (min-width: 1200px){
    .container {
        max-width: 1300px;
    }
}
.footer {
    padding: 41px;
    background-color: #ccc;
}
.navbar-expand .navbar-nav {
    margin-left: 823px;
}
.topbar .dropdown .dropdown-menu {
    background-color: #eeebeb;
}
p {
    margin: 0;
}