
body {
    font-size: 16px !important;
}
.toggle.btn {
    min-width: 10rem;
    min-height: 2.5rem;
}

#mytable tbody tr:hover{
    background-color: rgba(97, 95, 95, 0.664);
    color: white;
}

#mytable .selected{
    background-color:  rgba(97, 95, 95, 0.877);
    color: white;
}
.bg-gradient-primary{
    background:   rgba(97, 95, 95, 0.877);
   
}
.sidebar-brand-text{
    color: var(--main-color);
}
.text-nav {
    color: var(--main-color);
}
.btn-primary:hover{
    background-color:var(--main-color);
    border-color: var(--main-color);
    color:white;
}
.btn.upload {
    font-size: 16px !important;
    margin-left: 1060px;
    width: 126px;
}
.btn.btn-info {
    color: #fff;
    font-size: 18px;
    margin: 17px auto;
    width: 165px;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn.btn-upload-2 {
   margin: 0 auto;
    width: 155px;
}
.btn-primary{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color:  white;
}
.img-profile {
    height: 44px;
    width: 44px;
}
.btn.btn-edit{
    background-color: rgb(50, 151, 50);
    border-color: rgb(4, 163, 4);
    color: white;
    border-radius: 6px;
    width: 59px;
    margin: 0;
    font-size: 16px;
}
.btn-edit:hover {
    color: white;
    background-color:  rgb(12, 151, 12);
}

.btn.btn-danger {
    border-radius: 6px;
    width: 59px;
    margin: 0;
    font-size: 16px;
}
.page-item.active .page-link{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.page-item.active .page-link:hover{
    background-color:var(--main-color);
    border-color: var(--main-color);
}
.btn-warning{
    background-color:  rgba(97, 95, 95, 0.877);
    border-color: rgba(97, 95, 95, 0.877);
}
.btn-warning:hover{
    background-color:  rgb(97, 95, 95);
    border-color: rgba(97, 95, 95, 0.877);}
.not-images {
    margin: 0 auto;
    align-items: center;
    width: 430px;
    text-align: center;
}
.img-not-found {
    width: 430px;
    height: 300px;
    margin: 0 auto;
    display: block;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
* {
    box-sizing: border-box;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 430px;
    height: 33px;
    border-radius: 10px;
}
div.table-responsive>div.dataTables_wrapper>div.row:first-child>div[class^="col-"]:first-child {
    max-width: 33.33333%;
}
.image_save {
    width: 70px;
    height: 70px;
}
.selectcategory {
    width: 180px;
    border-radius: 4px;
    border-color: #ccc;
    margin: 5px 15px 16px 15px;
    background-color: #e5e5e6;
}
.item__select-categogy {
    background-color: #eeebeb;
}
@media (min-width: 1200px){
    .container {
        max-width: 1300px;
    }
}
.footer {
    padding: 41px;
    background-color: #ccc;
}
.navbar-expand .navbar-nav {
    /* margin-left: 823px; */
}

.topbar .dropdown .dropdown-menu {
    background-color: #eeebeb;
    font-size: 1.3rem !important;
}
p {
    margin: 0;
}
.modal{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top:0;
    display: none;
    animation: fadein linear 0.1s; 

}
.modal__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    /* z-index: 999; */
   
}
@keyframes growth {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    width: 425px;
    height: 450px;
    animation: growth linear 0.2s;
    border-radius: 4px;
   
}
.upload-form {
    overflow: hidden;
}
#btn-close{
    font-size: 18px;
    float: right;
    background-color: white;
    width: 32px;
    border: 1px solid #ccc;
}
#btn-close:active {
    outline: none;

}
#btn-close-cate {
    font-size: 18px;
    float: right;
    background-color: white;
    width: 32px;
    border: 1px solid;
}
.form-control {
    height: 40px;
    margin-bottom: 20px !important;
}
.label-choose-image {
    border: 1px solid;
    background-color: #ccc;
    margin-bottom: .5rem;
    padding: 4px;
    float: left;
}
.th-btn {
    width: 100px;
}
.btn-delete {
    border-radius: 4px;
    border: none;
    height: 34px;
    width: 83px;
    outline: none;
    
}
.btn-delete:active {
    outline: none;

}
.img-logo {
    height: 50px;
    width: 50px;
    border-radius: 6px;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 1.5rem;
}
.navbar-expand .navbar-nav .nav-link:hover {
    color: var(--main-color);
}
.not-link:hover {
   cursor: pointer;
}
.web-title {
    color: #1c2b44;
    font-weight: 700;
    font-size: 26px;
    margin-left: 10px;
}
.web-title:hover {
    text-decoration: none;
    color: #1c2b44;
}
.container-fluid {
    margin-top: 16px;
}