<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login-ManagePhoto</title>
  <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
  <link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/login.css">
  </head>

  <body>
   
  <div class="background" style="background-image: url('images/login/loginBg.jpg')">
    <div class="container grid">
      <div  class="navbar-- "> 
        <h2 class="title">Daily Photos</h2>
        <div class="wrapper-navbar">
          <a class="btn btn-login" id="login-button" href="/login"> Login</a>
            <a class="btn btn-signup" id="register-button" href="/register"> Sign up</a>
        </div>
      </div>
      <div id="card-login"class="card-login">
        <form th:action="@{/login}" method="POST" class="">
          <div class="wrapper-input">
            <i class="far fa-envelope icon"></i>
            <input type="text" class="input-email"  id="email" name="email" th:placeholder="Email">
          </div>
          <div class="wrapper-input">
            <i class="fas fa-lock icon"></i>
            <input class="input-email"  type="password" th:placeholder="Password"id="password"name="password">
          </div>
          <div class="error" th:if="${param.error}">
          Email or Password is invalid
          </div>
          <button class="btn btn-primary btn-submit-login"type="Submit" th:text="Login">Login
            <i class="fas fa-angle-right icon-angle-right"></i>
          </button>
        </form>
        <div class="question">Don't have account? <a href="/register"class="signup">Sign up now</a> </div>
      </div>
     
      </div>
</div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
